Body{
	margin: 4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:18px;
	color:#666;
	margin:0px;
	background-color:#FFF;
}
a:link, a:visited, a:active{
	text-decoration:none;
	color:#294F65;
}
ul
{
	margin-top:0px;
	line-height:30px;
	list-style-image:url(images/blt_grey.jpg);
}
img{
	border:0px;
}
.OldPrice{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: line-through;
}
.HorLine{
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #CCCCCC;
}
.imgBorder{
	border:2px #FFFFFF;
}
.brdr_Btm {
	border-bottom: 1px solid #CACACA;
}
.TabBorderLightGreyBG {
	border: 1px dashed #E5E5E5;
	background-color: #F5F5F5;
}
.Back
{
	background-image:url(images/tab02bg.gif);
	background-repeat:repeat-x;
}
.Back2
{
	background-image:url(images/tab03bg.gif);
	background-repeat:no-repeat;
}

.search
{
	background-image:url(images/search.gif);
	background-repeat:repeat-x;
}
.PageBorder
{
	border: 1px solid #666666;
}
.TableStyle1
{
	background-color: #CCC;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
.TableStyle2
{
	background-color: #F0F0F0;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

.TableStyle21
{
	border: 1px solid #666666;
	background-color: #898989;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
}

.TableStyle3
{
	border: 1px solid #666666;
	background-color: #E1E1E1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}
.TabHeading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #E4E4E4;
	font-weight: bold;
}
.TabHeading1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #CCCCCC;
	font-weight: bold;
}
.TopLine{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #898989;
}
.BottomLine{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DFDFDF;
}
.LeftBottomLine
{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #DFDFDF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DFDFDF;
	
}
.LeftLine{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #898989;
	
}
.RightLine{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #898989;
	
}
.LeftRightLine
{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #DFDFDF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #DFDFDF;
}
.LeftRightTopLine{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #898989;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #898989;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #898989;
}

.FontDim {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #898989;
	
}
.Seperator{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #898989;

}
.txtWhite
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFF;
}
.SubHeading
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#000;
}
.SubSubHeading
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#77A912;
}
input
{
	border:1px #CCC solid;
	padding:2px;
}
select
{
	border:1px #999 solid;
	padding:2px;
	width:150px;
}

/*////// MAIN MENU ///////////*/

#cssmenu {
       float: left;
	width:977px;
	background:#efefef;
	font-size:93%;
	line-height:normal;
	/*border-bottom:1px solid #666;*/
	}

#cssmenu ul {
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
	line-height:30px;
	}
#cssmenu li {
	display:inline;
	margin:0;
	padding:0;
	}
#cssmenu a {
	float:left;
	/*background:url('../images/tableftF.gif') no-repeat left top;*/
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	background-position: 0 -42px;
	font-style:normal;
	}
#cssmenu a span {
	float:left;
	display:block;
	/*background:url('../images/tabrightF.gif') no-repeat right top;*/
	padding:5px 20px;
	color:#FFF;
	font-weight:bold;
	font-size:12px;
	/*background-position: 100% -42px;*/
	background:#77A912;
	border:1px solid #77A912;
	}
	
/* Commented Backslash Hack hides rule from IE5-Mac */
#cssmenu a span {float:none; border-radius: 7px 7px 0 0;}
/* End IE5-Mac hack */

#cssmenu .active a span,
#cssmenu a:hover span {
		color:#666; 
		background:#fff;
		border-bottom:1px solid #FFFFFF; 
		}

#cssmenu .active a,
#cssmenu a:hover {
		background-position: 0 0; font-style:normal;}

#cssmenu .active a span,
#cssmenu a:hover span {background-position: 100% 0;}